
body {
  background-image: url(../images/wallpaper.png);
  background-color: rgb(101, 219, 101);
  background-size: 70px;
  margin: 0;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

header {
  background-image: url(images/banner.png);
  height: 500px;
  width: 100%;
  max-width: 100%;
  background-size: cover;
  margin-bottom: 20px;
}

p {
  text-align: center;
  font-family: Poppins;
  color: white;
  background-color: green;
  font-size: 18px;
  border: rgb(10, 102, 7) 3px solid;
  border-radius: 5px;
}

h2 {
  text-align: center;
  color: black;
  font-family: Raleway;
  background-color: #5e9e62 ;
  font-size: 22px;
  border: green 3px solid;
  border-radius: 5px;
}

.slider {
  text-align: center;
  font-family: Poppins;
  color: white;
  background-color: green;
  font-size: 30px;
  border: rgb(10, 102, 7) 3px solid;
  border-radius: 5px;
  animation: spin 10s linear infinite;
}

#spin:after {
  content:"";
  animation: spin 16s linear infinite;
}
@keyframes spin {
  0% { content:"Humankind is polluting water in rivers and lakes faster than nature can recycle and purify."; }
  25% { content:"More than 1 billion people still do not have access to fresh water."; }
  50% { content:"Excessive use of water contributes to the global water stress."; }
  75% { content:"Water is free from nature but the infrastructure needed to deliver it is expensive."; }
  100% { content:"Humankind is polluting water in rivers and lakes faster than nature can recycle and purify."; }
}

@media only screen and (max-width: 1100px) {
 .slider {
   font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
 .slider {
   font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
 .parallax {
   background-image: url(none.png);
  }
}

@media only screen and (max-width: 500px)
 body {
   background-image: url(none.png);
  }
}

#navbar {
    left: 0px;
    height: 50px;
    background-color: #5e9e62;
    width: 100%;
    margin: 0 auto;
    opacity: 0.9;
    z-index: 10000;
    scroll-behavior: smooth;
}

#navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    scroll-behavior: smooth;
}

#navbar ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    scroll-behavior: smooth;
}

#navbar ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

#navbar ul li a:hover {
  background-color: rgb(101, 219, 101);
  color: black;
  text-shadow: 0px 0px 0px;
  animation: fade 1s;
  scroll-behavior: smooth;
}

@keyframes fade {
  from {opacity: 0; }
  to {opacity: 1; }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  font-family: Poppins;
  background-color: grey;
  color: black;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  border-top: solid black 1px;
}